.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  background: rgba(#000, 0.45);
  color: #fafafa;

  @media (max-width: 1130px) {
    padding: 0 3rem;
  }

  @media (max-width: 750px) {
    padding: 0 1rem;
  }

  @media (max-width: 600px) {
    padding: 10px;
    height: 120px;
    flex-direction: column;
  }

  .footer__copy {
    text-transform: uppercase;
    font-family: $aleoBold;
    letter-spacing: 1px;
    font-size: .95rem;
    flex: 1 1 200px;
    @media (max-width: 600px) {
      flex: 1 1 30px;
      display: flex;
      align-items: center;
      order: 3;
    }
  }

  .footer__nav {
    flex: 1 1 200px;
    @media (max-width: 600px) {
      flex: 1 1 30px;
      display: flex;
      align-items: center;
      order: 1;
    }

    .nav__menu {
      margin: 0;
      display: flex;
      justify-content: center;

      .menu__item {
        list-style: none;
        font-family: $aleoBold;
        font-size: 1.05rem;
        letter-spacing: 1px;

        a {
          text-decoration: none;
          color: #fafafa;
          padding: 15px;
        }

        &:not(:last-child) {
          position: relative;

          &::after {
            display: block;
            content: '';
            height: 12px;
            width: 1px;
            background-color: #fafafa;
            position: absolute;
            right: 0;
            top: calc(50% - 6px);
          }
        }
      }
    }
  }

  .footer__design {
    font-family: $aleo;
    letter-spacing: 1px;
    font-size: 1rem;
    flex: 1 1 200px;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 600px) {
      flex:1 1 30px;
      display: flex;
      align-items: center;
      order: 2;
    }

    span {
      font-family: $aleoBold;
    }
  }
}