.page-topbar {

  .nav {
    display: flex;
    justify-content: center;

    .nav__menu {

      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 27px 25%;
      .menu__item{

        text-transform: uppercase;
        font-family: $aleo;
        font-size: 1.20rem;
        letter-spacing: 2px;

        a {
          padding: 15px;
          text-decoration: none;
          color: #fafafa;
        }
      }
    }
  }
}