.page-topbar {

  .nav {
    display: flex;
    justify-content: center;

    .nav__hamburger {
      position: absolute;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      right: 25px;
      top: 25px;
      height: 60px;
      width: 70px;
      z-index: 3;

      span {
        background-color: #fefefe;
        width: 60%;
        height: 4%;
        border-radius: 3px;
        transition: 0.3s transform;
      }

      span:first-child {
        margin-top: 16px;
      }

      span:last-child {
        margin-bottom: 14px;
      }

      // ukrycie hamburgera
      @media (min-width: 510px) {
        display: none;
      }
    }

    .nav__hamburger--open {

      span {
        transform: scale(0);
        transform-origin: center;

        &:first-child {
          transform: translateY(9px) rotate(135deg);
        }
        &:last-child {
          transform: translateY(-19px) rotate(-135deg);
        }
      }
    }

    .nav__menu {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 43px 25%;
      transition: background 0.2s, opacity 0.4s ;

      @media (max-width: 1130px) {
        margin: 43px 13%;
      }

      @media (max-width: 750px) {
        margin: 43px 8%;
      }

      @media (max-width: 670px) {
        margin: 43px 4%;
      }

      @media (max-width: 510px) {
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 90px;
        margin: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(#000, 0.95);
        z-index: 2;
        opacity: 1;
      }

      //media end

      .menu__item--icon {
        margin-left: 35px;

        @media (max-width: 600px) {
          display: none;
        }
      }

      .menu__item {
        text-transform: uppercase;
        font-family: $aleo;
        font-size: 1.2rem;
        letter-spacing: 2px;
        margin-left: 35px;

        @media (max-width: 510px) {
          font-size: 1.6rem;
          margin-left: 0;
          margin-bottom: 45px;
        }

        //media end

        a {
          padding: 5px 9px;
          text-decoration: none;
          color: #fafafa;
          transition: 0.2s;

          &:hover,
          &:focus {
            background-color: #A83A5D;
            border-radius: 50px;
            outline: none;
          }
        }
      }
    }

    .nav__menu--collapsed {
      @media (max-width: 510px) {
        opacity: 0;
        z-index: -1;
      }
    }
  }
}