.login-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(#000, 0.79);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;

  .popup__close {

    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    right: 3px;
    top: 3px;
    height: 40px;
    width: 40px;

    span {
      background-color: #666;
      width: 40%;
      height: 2%;
      border-radius: 3px;
    }

    span:first-child {
      margin-top: 16px;
      transform: rotate(135deg);
    }

    span:last-child {
      margin-bottom: 14px;
      transform: translateY(-10px) rotate(-135deg);
    }
  }

  .popup__form {
    position: relative;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
    margin-top: -20px;
    font-family: $aleo;

    @media (max-width: 350px) {
      padding: 60px 20px;
    }

    .popup__title {
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 2px;
      margin-bottom: 40px;
      text-align: center;
    }
    .popup__input {
      width: 90%;
      margin-bottom: 36px;
      padding: 5px;
      border: none;
      border-bottom: 1px solid black;
      text-align: center;
      font-size: 1.25rem;
    }

    .popup__error {
      font-size: 1.5rem;
      color: tomato;
      padding: 10px;
      width: 80%;

      p {
        margin: 5px 0;
      }
    }

    .popup__btn {
      cursor: pointer;
      width: 90%;
      color: #fefefe;
      text-transform: uppercase;
      font-family: $aleoBold;
      font-size: 1.1rem;
      letter-spacing: 2px;
      padding: 1.3rem;
      background-color: #A83A5D;
      border: none;
      border-radius: 50px;

      &:hover {
        transform: scale(1.01);
      }

      .popup__loader {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid rgba(#fff, 0);
        border-right: 2px solid rgba(#fff, 0.7);
        animation: loaderRotate 1s 0s infinite linear;
        margin: -5px auto;
      }

      @keyframes loaderRotate {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

